@import url('https://cdn.honglin.eu.org/fonts/css?family=Crimson+Pro:ital,wght@0,300;0,400;1,300;1,400&family=IBM+Plex+Mono:ital@0;1&family=Noto+Serif+SC:wght@300;400;500&family=Proza+Libre:ital@0;1&display=swap');

:root {
    --monospace: 'IBM Plex Mono', 'Courier New', 'Noto Serif SC', monospace; /*代码字体*/
    --serif-font: 'Crimson Pro', 'Georgia', 'Noto Serif SC', sans-serif;
    --text-font: var(--serif-font); /*正文字体*/
    --sans-font: 'Proza Libre', 'Avenir Next', 'Noto Serif SC', sans-serif;
    --title-font: var(--sans-font); /*标题字体*/
    --text-line-height: 1.6; /*正文行间距*/
    --code-block-line-height: 1.6; /*代码块行间距*/
    --p-spacing: 1.25rem; /*段间距*/
    --text-size: 18px;
}
